<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18B75</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>USBInjectAll</string>
	<key>CFBundleGetInfoString</key>
	<string>0.7.1 Copyright © 2015 RehabMan. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.rehabman.driver.USBInjectAll</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBInjectAll</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.7.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ConfigurationData</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rehabman.driver.USBInjectAll</string>
			<key>Configuration</key>
			<dict>
				<key>8086_a2af</key>
				<dict>
					<key>port-count</key>
					<data>
					GgAAAA==
					</data>
					<key>ports</key>
					<dict>
						<key>HS01</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							AQAAAA==
							</data>
						</dict>
						<key>HS02</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							AgAAAA==
							</data>
						</dict>
						<key>HS03</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							AwAAAA==
							</data>
						</dict>
						<key>HS04</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							BAAAAA==
							</data>
						</dict>
						<key>HS05</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							BQAAAA==
							</data>
						</dict>
						<key>HS06</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							BgAAAA==
							</data>
						</dict>
						<key>HS07</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							BwAAAA==
							</data>
						</dict>
						<key>HS08</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							CAAAAA==
							</data>
						</dict>
						<key>HS09</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							CQAAAA==
							</data>
						</dict>
						<key>HS10</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							CgAAAA==
							</data>
						</dict>
						<key>HS11</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							CwAAAA==
							</data>
						</dict>
						<key>HS12</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							DAAAAA==
							</data>
						</dict>
						<key>HS13</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							DQAAAA==
							</data>
						</dict>
						<key>HS14</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							DgAAAA==
							</data>
						</dict>
						<key>SS01</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							EQAAAA==
							</data>
						</dict>
						<key>SS02</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							EgAAAA==
							</data>
						</dict>
						<key>SS03</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							EwAAAA==
							</data>
						</dict>
						<key>SS04</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							FAAAAA==
							</data>
						</dict>
						<key>SS05</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							FQAAAA==
							</data>
						</dict>
						<key>SS06</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							FgAAAA==
							</data>
						</dict>
						<key>SS07</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							FwAAAA==
							</data>
						</dict>
						<key>SS08</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							GAAAAA==
							</data>
						</dict>
						<key>SS09</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							GQAAAA==
							</data>
						</dict>
						<key>SS10</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							GgAAAA==
							</data>
						</dict>
						<key>USR1</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							DwAAAA==
							</data>
						</dict>
						<key>USR2</key>
						<dict>
							<key>UsbConnector</key>
							<integer>3</integer>
							<key>port</key>
							<data>
							EAAAAA==
							</data>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>IOClass</key>
			<string>USBInjectAll_config</string>
			<key>IOMatchCategory</key>
			<string>USBInjectAll_config</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
		</dict>
		<key>iMacPro1,1-ABPC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rehabman.driver.USBInjectAll</string>
			<key>IOClass</key>
			<string>USBInjectAll</string>
			<key>IOProviderClass</key>
			<string>AppleBusPowerController</string>
			<key>kName</key>
			<string>AppleBusPowerController</string>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
		<key>iMacPro1,1-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.rehabman.driver.USBInjectAll</string>
			<key>IOClass</key>
			<string>USBInjectAll</string>
			<key>IONameMatch</key>
			<array>
				<string>XHC</string>
				<string>XHCI</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 RehabMan. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0d1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-USB-Inject-All</string>
</dict>
</plist>
